.wrapper {
    background-color: #f7f7e8;
    grid-column-start: 2;
    display: grid;
    grid-template-columns:40% 40% 20%;
    grid-template-rows: 30% 70%;
    height: 100%;

}

.item {
    color: red;
    object-fit: scale-down;
}

.item > img {
    padding-top:10px;
    border-radius: 50px;
    width: 350px;
    height: 350px;
    max-width: 100%;
    max-height: 100%;
    box-sizing: content-box;
}

.myPosts {
    grid-column-start: 1;
    grid-column-end: 4;
}
